<div>
    <h2>Shopping Cart</h2>

    <div>
        <div class="row" *ngFor="let cart of cartList">
            <div class="col-md-2 pb-3"><img src="{{cart.image}}" class="w-100 border border-3 rounded" alt="product image"></div>
            <div class="col-md-2">{{cart.name}}</div>
            <div class="col-md-2">&#8377;  {{cart.price}} </div>
            <div class="col-md-2">
                <div class="input-group">
                    <button type="button" (click)="decrement(cart)" class="input-group-append btn btn-secondary" >-</button>
                    <input type="text" value="{{cart.cartQuantity}}" class="form-control" readonly>
                    <button type="button" (click)="increment(cart)" class="input-group-prepend btn btn-secondary" >+</button>
                </div>
            </div>
            <div class="col-md-2 text-center"><button type="button" (click)="delete(cart.cartId)" class="btn btn-dark btn-sm">Delete</button></div>
        </div>
        <div *ngIf="cartList && (cartList.length > 0)">
            <div class="row fw-bold fs-5">
                <div class="col-md-4">Total : </div>
                <div class="col-md-2">&#8377;  {{ cartTotalAmount }} </div>
                <div class="col-md-3">
                    <button type="button" (click)="checkout()" class="btn btn-dark w-100">Checkout > </button>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="cartList && (cartList.length == 0)">
        <div class=" fw-bold text-center m-5 p-5">
           Your cart is empty. <a routerLink="/products" class="btn btn-dark">Order now</a>
        </div>
    </div>
</div>